//- data
-
  var modals = [
    {
      id: 'travel',
    },
    {
      id: 'around',
    },
    {
      id: 'campusmile',
    },
  ]

//- global includes
include includes/_mixins

doctype html
html
  //- head tag
  include includes/head

  //- body tag
  body
    .stack-wrapper
      //- stack animation
      .stack(data-stack="")
        each modal in modals
          a(href="#map-modal-" + modal.id data-map-modal-open="").stack__zoom
            .c-icon-default
              +svg('zoom')
              .u-invisible Vergrößern


        .stack__items
          .stack__item.stack__item--one#stack-level-1(data-stack-item="")
          .stack__item.stack__item--two#stack-level-2(data-stack-item="")
          .stack__item.stack__item--three#stack-level-3(data-stack-item="")

        .stack__nav(data-stack-nav="")
          a(href="#stack-level-1" data-stack-nav-item="").stack__nav-item.stack__nav-item--one
            +svg('right-chevron')
            | Die Erreichbarkeit
          a(href="#stack-level-2" data-stack-nav-item="").stack__nav-item.stack__nav-item--two
            +svg('right-chevron')
            | Die Umgebung
          a(href="#stack-level-3" data-stack-nav-item="").stack__nav-item.stack__nav-item--three
            +svg('right-chevron')
            | Die „Campus Mile“

      //- map modals
      .c-modals
        //- map modals
        each modal in modals
          .c-modal.c-modal--one(id="map-modal-" + modal.id data-map-modal=modal.id)
            .c-modal__map(data-map=modal.id)

            //- close button
            a(href="javascript:void(0);" data-map-modal-close).c-modal__close
              .c-icon-default.c-icon-default--large
                +svg('close')
                .u-invisible Schließen

            //- zoom control
            .c-modal__map-zoom.c-zoom-control
              a(href="#" data-map-zoom-in).c-zoom-control__control.c-zoom-control__control--in
                +svg('plus')
                .u-invisible Zoom in
              a(href="#" data-map-zoom-out).c-zoom-control__control.c-zoom-control__control--out
                +svg('minus')
                .u-invisible Zoom out


    //- scripts etc.
    include includes/foot
