//
// General settings
// --------------------------------------------------

// colors
$color-one: #00d2ff;
$color-two: #e6007e;
$color-three: #27ff4d;

$color-white: #fff;
$color-black: #000;

// sizing
$breakpoint-xs: 570px;
$breakpoint-sm: 800px;
$breakpoint-lg: 1400px;

// Transition timing
$transition-time: .4s;
