//
// General settings
// --------------------------------------------------

// colors
$color-one: #00c5ff;
$color-two: #de0068;
$color-three: #22fe3d;

$color-white: #fff;
$color-black: #000;

// sizing
$breakpoint-xs: 570px;
$breakpoint-sm: 800px;
$breakpoint-lg: 1400px;

// Transition timing
$transition-time: .4s;
