//
// General settings
// --------------------------------------------------

// colors
$color-one: #00d2ff;
$color-two: #e6007e;
$color-three: #27ff4d;

// secondary colors
$color-red: #de0006;
$color-green: #1fdc37;
$color-magenta: #c3005c;
$color-orange: #ff5b02;
$color-blue: #0ff;
$color-yellow: #fffc0e;

$color-white: #fff;
$color-black: #000;

// sizing
$breakpoint-xs: 570px;
$breakpoint-sm: 800px;
$breakpoint-lg: 1400px;

// Transition timing
$transition-time: .4s;
$transition-time--short: .2s;
