$bubble-size: 206px;
$bubble-padding: 0;

$bubble-size-expanded: 300px;
$bubble-padding-expanded: 40px;
$bubble-size-expanded-sm: 486px;
$bubble-padding-expanded-sm: 70px;

$icon-size: 50px;
$icon-size-sm: 100px;

// Bubble wrapper
.c-bubbles {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  @media (min-width: $breakpoint-sm) {
    max-width: 1300px;
    min-height: 700px;
    flex-direction: row;
  }


  // bubble in bubbles context
  .c-bubble {
    @media (min-width: $breakpoint-sm) {
      position: absolute;
    }
  }

  .c-bubble + .c-bubble {
    margin-top: 2rem;

    @media (min-width: $breakpoint-sm) {
      margin-top: 0;
    }
  }

  // bubble positioning / sizing
  .c-bubble--1 {
    @media (min-width: $breakpoint-sm) {
      top: 15%;
      left: 14%;
      width: $bubble-size * .81;
      height: $bubble-size * .81;

      .c-bubble__icon {
        transform: scale(.81);
      }
    }
  }

  .c-bubble--2 {
    @media (min-width: $breakpoint-sm) {
      top: 1%;
      left: 34%;
      width: $bubble-size * 1.145;
      height: $bubble-size * 1.145;

      .c-bubble__icon {
        transform: scale(1.145);
      }
    }
  }

  .c-bubble--3 {
    @media (min-width: $breakpoint-sm) {
      top: 0;
      right: 19%;
      width: $bubble-size * 1.32;
      height: $bubble-size * 1.32;

      .c-bubble__icon {
        transform: scale(1.32);
      }
    }
  }

  .c-bubble--4 {
    @media (min-width: $breakpoint-sm) {
      bottom: 9%;
      left: 17%;
    }
  }

  .c-bubble--5 {
    @media (min-width: $breakpoint-sm) {
      bottom: 0;
      right: 43%;
    }
  }

  .c-bubble--6 {
    @media (min-width: $breakpoint-sm) {
      bottom: 13%;
      right: 20%;
    }
  }
}

// Possible container content
.c-bubbles__content {
  text-align: center;
  margin-bottom: 2rem;
  width: 100%;

  @media (min-width: $breakpoint-sm) {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.c-bubbles__claim,
.main_color .c-bubbles__claim {
  font-size: 1.4rem;
  font-weight: normal;
  display: inline-block;
  text-transform: uppercase;
  color: $color-one;
  max-width: 240px;
}

.c-bubbles__logo {
  display: block;
  width: 225px;
  height: 67px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $breakpoint-sm) {
    margin-left: 0;
    margin-right: 0;
  }

  img {
    height: 100%;
    width: 100%;
    display: block;
  }
}


// Single Bubble
.c-bubble { /* stylelint-disable-line no-descending-specificity */
  position: relative;

  color: $color-white;
  @include font-smoothing;
  background-color: $color-black;
  border-radius: 50%;
  border-style: solid;
  border-width: .625rem;
  box-shadow: 0 .25rem 1.5rem rgba(0, 0, 0, .5);

  cursor: pointer;

  padding: $bubble-padding;
  width: $bubble-size;
  height: $bubble-size;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  transition-duration: $transition-time;
  transition-property: width, height, transform, padding;

  &:hover { /* stylelint-disable-line no-descending-specificity */
    transform: scale(1.1);
  }

  &.is-expanded {
    padding: $bubble-padding-expanded;
    width: $bubble-size-expanded;
    height: $bubble-size-expanded;
    box-shadow: 0 .25rem 4rem rgba(0, 0, 0, .75);

    z-index: 10;

    @media (min-width: $breakpoint-xs) {
      padding: $bubble-padding-expanded-sm;
      width: $bubble-size-expanded-sm;
      height: $bubble-size-expanded-sm;
    }

    &,
    &:hover {
      transform: translate3d(0, 0, 0);
    }
  }

  * {
    box-sizing: border-box;
  }
}

// color modifiers
.c-bubble--red,
.main_color .c-bubble--red {
  border-color: $color-red;
}

.c-bubble--green,
.main_color .c-bubble--green {
  border-color: $color-green;
}

.c-bubble--magenta,
.main_color .c-bubble--magenta {
  border-color: $color-magenta;
}

.c-bubble--blue,
.main_color .c-bubble--blue {
  border-color: $color-blue;
}

.c-bubble--orange,
.main_color .c-bubble--orange {
  border-color: $color-orange;
}

.c-bubble--yellow,
.main_color .c-bubble--yellow {
  border-color: $color-yellow;
}


// Icon
.c-bubble__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  width: $icon-size-sm;
  height: $icon-size-sm;
  margin-left: -$icon-size-sm / 2;
  margin-top: -$icon-size-sm / 2;
  transition: all $transition-time;

  .is-expanded & {
    opacity: 0;
  }

  svg {
    width: 100%;
    height: 100%;
    display: block;
  }
}


// Content
.c-bubble__content {
  font-size: .8rem;
  line-height: 1.5;
  text-align: center;

  margin-top: 0;
  height: 0;
  overflow: hidden;
  transform: scale(0);
  opacity: 0;
  transition-duration: $transition-time;
  transition-property: transform, opacity;
  transform-origin: center center;

  @media (min-width: $breakpoint-xs) {
    font-size: 1rem;
  }

  .is-expanded & {
    height: auto;
    transform: scale(1);
    opacity: 1;
  }
}

.c-bubble__title {
  font-weight: bold;
  text-transform: uppercase;
}

.c-bubble__text {
  ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
  }
}
