.c-icon-default {
  display: block;
  transition: all $transition-time;

  &:hover {
    transform: scale(1.05);
  }

  svg {
    display: block;
    width: 1.75rem;
    height: 1.75rem;
    padding: .4rem;
    background-color: $color-white;
    border-radius: 50%;
    box-shadow: 0 .125rem .5rem rgba(0, 0, 0, .5);

    @media (min-width: $breakpoint-sm) {
      box-shadow: 0 .25rem 1rem rgba(0, 0, 0, .5);
      width: 2.5rem;
      height: 2.5rem;
      padding: .6rem;
    }
  }
}

.c-icon-default--large {
  svg {
    @media (min-width: $breakpoint-lg) {
      width: 3.125rem;
      height: 3.125rem;
      padding: 1.25rem;
    }
  }
}
